.card-input {
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 8px;
}

.card-input input {
  width: 100%;
}

.card-input h5 {
  margin: 0;
}

.card-input p {
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 0.8rem;
}
