body {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  background-color: #fff;
}

.container {
  width: 70vw;
  margin: 0 auto;
}
